@font-face{
    src:url('font/Montserrat-Bold.ttf');
    font-family: montB;
}
.main_container{
    background-color:azure;
    height: 500px;
    width:100%;
    height: 90%;
    float: right;
}
.form-hand{
    float:right;
}
.input-boxw{
    width:40px;
    height:30px;
}
.input-boxh{
    width:40px;
    height:30px;
}
.col-9{
    background-color:#343a40;
}
.btn{
    margin: 15px 0;
}
.main_c{
   padding-top: 20px;
}
.c1{
    margin-top:60px;
    margin-left: 280px;
    
}
.h1{
    height: 500px;
}
#canvas1{
    border-radius: 20px;
}
