@font-face{
    src:url('font/Montserrat-Bold.ttf');
    font-family: montB;
}
.main_container{
    background-color:azure;
    height: 500px;
    width:100%;
    height: 90%;
    float: right;
}
.form-hand{
    float:right;
    
}
.input-boxw{
    width:40px;
    height:30px;
}
.input-boxh{
    width:40px;
    height:30px;
}
.col-9{
    background-color:#343a40;
}
.btn{
    margin: 15px 0;
}

.main_c{
   padding-top: 20px;
}
.c1{
    margin-top:60px;
    margin-left: 280px;
    
}
.h1{
    height: 500px;
}
#canvas1{
    border-radius: 20px;
}
@media print {
    @page{
        size:CR-80;
        margin: 0.762000mm 0mm 2.794000mm 0.254000mm;

    }
    .c1{
        width: 8.5725cm;
        height: 5.3975cm;
        margin: 0.762000mm 0mm 2.794000mm 0.254000mm;
        position: relative; 

   } 
}
.header,.footer,.navigation
{
    display:none;
}


li,a{
    font-family: "montB";
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    cursor: pointer;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0,3s ease 0s;
}

.nav__links li a:hover{
    color:#0088a9
}
